.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 100%; }
  .slideshow .slide {
    max-width: 100%;
    opacity: 0.88;
    height: 60vh;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.empty {
  background: #F2EBD4;
  min-width: 405px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  opacity: 0.4; }

.intro-ctr {
  font-size: 1vw;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 70;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .intro-ctr h1 {
    white-space: nowrap;
    text-transform: uppercase; }

span {
  border-right: 0.05em solid #212422;
  -webkit-animation: blinking 0.7s steps(1) infinite;
  animation: blinking 0.7s steps(1) infinite; }

@-webkit-keyframes blinking {
  50% {
    border-color: transparent; } }

@keyframes blinking {
  50% {
    border-color: transparent; } }
