$primary-color: #F2ebd4;
$third-color:#212422; 
$secondary-color: #354863; // Indigo dye for take a tour
$fourth-color: #FCFBE6; //equivalent to primary w opacity 0.4

.info-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: fit-content;
  
    .text-ctr{
        width: 300px;
        height: 405px;
        background: $fourth-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: relative;

        .slidebar{
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 300px;
                height: 4px;
                
                -webkit-box-sizing: border-box;
                
                        box-sizing: border-box;
                z-index: 40;
                border-top: 0.5em solid $secondary-color;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0em;
                left: 0;
                width: 300px;
                height: 405px;
                background: $primary-color;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                opacity: 1;
                
            }
        }

        .text {
            margin: 2em;
            line-height: 1.7em;
            color: $secondary-color;
            padding: 1em;
         
        }
    }
}


.text-img-ctr{
    height: 405px;
    width: 300px;
}

.in-view{
    &::before{
        -webkit-transform: translateY(397px);
            -ms-transform: translateY(397px);
                transform: translateY(397px);
        -webkit-transition: -webkit-transform 2s ease-in-out;
        transition: -webkit-transform 2s ease-in-out;
        -o-transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
    }
    &::after{
        -webkit-transform-origin: bottom center;
            -ms-transform-origin: bottom center;
                transform-origin: bottom center;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transition: -webkit-transform 2s ease-in-out;
        transition: -webkit-transform 2s ease-in-out;
        -o-transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;

    }
}


.gallery-ctr{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0 3em 0; 
    position: relative;   

}


.background-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 480px;   
    height: 405px;
    overflow: auto;
    border-radius: 4px;
   
}

.img-ctr{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .gpic{
        width: 300px;
        height: 405px;       
    }

    // keeps the arrows there all the time
    &:nth-child(1){
        width: 300px;
        height: 405px;
    }

}

.no-show{
    display: none;
}

.back{
    position: absolute;
    top: 45%;
    filter: contrast(0.15);
    left: -12%;        
    cursor: pointer;
    z-index: 10;
}
.forward{
    position: absolute;
    top: 45%;
    filter: contrast(0.15);
    right: -12%; 
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 10;
}