$primary-color: #F2EBD4; // Eggshell 
$secondary-color: #354863; // Indigo dye for take a tour
$third-color:#212422; // eery black

/* 
*   Start of take a tour page (takeatour.html)  NOT FIEX FOR VENDOR PREFIX FROM HERE AND DOWN
*/


.welcome-ctr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    // margin: 3em;
    
    
    .iframe-ctr{
        width: 62.5vw;
        height: 340px;
        position: relative;
    }
    

    .msg-ctr{
        
        width: 37.5vw;
        height: 340px;



        .msg-box{
            display: -webkit-box;

            display: -ms-flexbox;
    
            display: flex;

            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;


            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
           
            width: 100%;
            height: 100%;
           
           

            .welcome-text{
                
                font-size: 1.5em;
                margin: 0;
                // width: 14em;
                width: 20vw;
              
                font-family: 'Cabin', sans-serif;
                height: 3.5em;

            }

            .end{
                background-color: $primary-color;                
                align-self: flex-end;
                

            }

            .start{
                background-color: $secondary-color;
                align-self: flex-start;
            }

         

            .ti{
                color: $secondary-color;
                text-align: center ;
            }
           

            .tt {
                color: $primary-color;
                text-align: center;
            }
        }   
    }

    .ifr{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.options-wrapper{
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
    
    .options-ctr{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        background-color: $primary-color;
        opacity: 0.8;
        padding: 1.2em;
        width: 100%;
        
        a{
            cursor: pointer;
            text-decoration: none;
            position: relative;
            color: $third-color;
            font-size: 0.9em;

            // expeerimenting
            display: flex;
            flex-direction: column;
            justify-content: center;                                   
            height: 3em;
            
            p{
                margin:0;
                height: 50%;

                &:hover{
                    transition: all .3s ease-out;
                    box-shadow: 0 -1px 0 0 $primary-color inset, 0 -3px 0 0 $secondary-color inset;
                }
                
            }
            
            
        }
    }
}

.board-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    
}

.catalogue-ctr{
    margin: 1em;
    margin-bottom: 2em;
    width: 90vw;
    height: 40vw;

    a{
       
        background-color: $primary-color;
        font-size: 1.4vw;
    }
    

    display: -webkit-box;
    

    display: -ms-flexbox;
    

    display: flex;
    .s{ 
        
        position: relative;

        &.two{
           
            background-color: #605E6E; 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            &:before{
                position: absolute;
                left:-10%;
                font-size: 3vw;
                content: "Breakfast";
                -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                        transform: rotate(90deg); 
               
            }

            &:after{
                position: absolute;
                top:0;
                font-size: 3vw;
                content: "-10 Am Tour only-";
               
                
            }

            a{
                font-size: 1.4vw;
                margin: 1em;
            }
        }

        width: 50%;
        height: 100%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .b{
            position: relative;
            &.one{
               
                background-color: #786866;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                a{
                    white-space: nowrap;
                    margin:0.2em;
                }

                &:before{
                    position: absolute;
                    left:-5%;
                    font-size: 3vw;
                    content: "Lunch";
                    -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                     
                }
                
            }
           
            width: 100%;
            height: 50%;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;

            &.two{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                .c{
                    &.one{
                      
                        background-color: #BB874E;                       
                        display: -webkit-box;                       
                        display: -ms-flexbox;                       
                        display: flex;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        a{
                            font-size: 1.5vw;
                        }
                    }

                    width: 100%;
                   
                    height: 100%;
                    &.two{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                       
                        -webkit-box-orient: vertical;
                       
                        -webkit-box-direction: normal;
                       
                            -ms-flex-direction: column;
                       
                                flex-direction: column;

                        .d{
                            &.one{
                               
                                background-color: #4F575D;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                            }
                            
                            width: 100%;
                            height: 50%;
                            
                            &.two{
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                .e{
                                    width: 50%;
                                    height: 100%;
                                    &.one{
                                        background-color: $secondary-color;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                                justify-content: center;
                                        -webkit-box-align: center;
                                            -ms-flex-align: center;
                                                align-items: center;
                                        &:before{
                                            content: "Food";                                           
                                            -webkit-transform: rotate(90deg);                                           
                                                -ms-transform: rotate(90deg);                                           
                                                    transform: rotate(90deg); 
                                            color: $primary-color;                                                                      
                                        }
                                    }
                                    &.two{
                                        background-color: $primary-color;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                                justify-content: center;
                                        -webkit-box-align: center;
                                            -ms-flex-align: center;
                                                align-items: center;
                                        &:before{
                                            content: "Menu";
                                            
                                            -webkit-transform: rotate(90deg);
                                            
                                                -ms-transform: rotate(90deg);
                                            
                                                    transform: rotate(90deg);
                                            color: $secondary-color;
                            
                                            
                                            
                                        }
                                    }
                                
                                }
                            }
                            
                        }
                    }                                       
                }      
            }            
        }        
    }
}




.board-ctr{
  
    margin-bottom: 1em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;

    
    .box-ctr{
        width: 20vw;
        height: 20vw;
            
        margin: 1em;
        background-color: $primary-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        p{
            color: $secondary-color;
            margin: 1em;
            font-family: 'Cabin', sans-serif;
            font-size: 1.65em;            
        }     
    }

    .rect-ctr{
        margin: 1em;
        width: 50vw;
        height: 20vw;
        
        background-color: $secondary-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        p{
            color: $primary-color;
            font-size: 1.8vw;
            margin: 2em;
        }

    }
}