//  Screen width is < 1200px
@media only screen and (max-width: 1200px){
    // Home page 
    .btn-links{
        display: none;
       
    }

    .menu-ctr{
        visibility: visible;
    }

    .intro-ctr{
        font-size: 2vw;
    }

    .menu{
        width: 25%;
    }
    

    // Take a Tour
    .welcome-ctr{

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 3em;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    
      
        .ifr{
            position: absolute;
            width: 100%;
            height: 100%;
        }   



        .msg-ctr{
            width: 62.5vw;

            .msg-box{

                .welcome-text{
                    width: 40vw;
                }    
                .tt, .ti{
                    height: 1em;
                }

            }                                    
        }   
    }   

    .board-ctr .rect-ctr p{
        line-height: 2.5em;
    }
}




// Screen width <  1024px
@media only screen and (max-width: 1024px){
    //Home Page (index.html)
    .slide-ctr{
        display: none;
    }
    .empty{
        width: 100%;
        height: 70vh;
    }

    #bio-one,#bio-two{
        height: 34vh !important;
        width: 34vh !important;

    }

    .bio-greg,.bio-john{
        width: 80% !important;
         p{
             font-size: 1.2em !important;
             
         }
    }


    // Take a tour
    .board-wrapper .board-ctr .rect-ctr p{
        line-height: 1.6em;
    }

    .bf-new-layout,.lu-new-layout{
        width: 95vw;
    }
    .arrow-back,.larrow-back{
        left:1.5%
    }
}




// Screen width < 900px 
@media only screen and (max-width: 900px){
    // Home
    .gallery-ctr{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .gpic{
            width: 100%;
        }
      }

    .info-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }


    // Take a Tour
    // Using ids for higher specificity
    #one {
        width: 30vw;
        height: 30vw;
    }

    #six{
        height: 30vw;
    }

    
   

}
    




// When width <= 768px
@media only screen and (max-width: 768px){
    // Home page 
    .menu{
        width: 35%;
    }


    // Take a tour

    .bfast:hover > span::before{
        transition: right 0.10s ease-in;
    }
    body .bfood-ctr{
        flex: 0 1 calc(90% - 8px);    
    }
    body .lfood-ctr{
        flex: 0 1 calc(90% - 8px)
    }

    body .lwarning{
        bottom: -0.8%;
    }
    body .special{
        margin-top: 5em; 
    }

    .breakfast-ctr .warning{
        bottom: -2%;
    }

    .options-ctr{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        
    }

    body .options-ctr a p{
        font-size: 1.3em;
    }

    .board-ctr{
        flex-direction: column;
        align-items: center;
    }

    .reverse{
        flex-direction: column-reverse;
        align-items: center;
    }

    #one{
        width: 50vw;
        height: 50vw;

    }

    #six{
        width: 100vw;
        height: 70vw;

        p{
            line-height: 1.5em;
            font-size: 1em;
        }
    }


    // Who we are
    .bio-greg,.bio-john{
        height: 40vh !important;
        p{
            font-size: 0.5em !important;
        }
    }


    // Contact us
    .cnt-info{
        height: 35vh !important;
        width: 90vw !important;
    }
}

// When width <= 768px
@media only screen and (max-width: 768px){
    // Take a tour
    .catalogue-ctr{
        height: 90vw;
    }
    #one{
        width: 50vw;
        height: 50vw;

        p {
            font-size: 2em;
        }

    }

    #six{
        width: 100vw;
        height: 70vw;

        p{
            line-height: 2em;
            font-size: 1.25em;
        }
    }




    // Who we are
    .pics-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-align:center ;
            -ms-flex-align:center ;
                align-items:center ;
        height: 90vh !important;
    }

    .bio-greg,.bio-john{
       width: 60% !important;
        p{
            font-size: 1.2em !important;
            color: $primary-color;
        }
    }
}




// When width <= 400px (changed to 480)
@media only screen and (max-width: 480px){
    // Take a tour
    body .welcome-ctr .iframe-ctr{
        width: 100vw;
    }

    .welcome-ctr .msg-ctr .msg-box .welcome-text{
        width: 58vw;
        font-size: 1em;
    }

    #one{
        width: 50vw;
        height: 50vw;

        p {
            font-size: 1.7em;
        }

    }

    #six{
        width: 100vw;
        height: 80vw;

        p{
            line-height: 1.5em;
            font-size: 1em;
        }
    }


    // Who we are
    .bio-greg,.bio-john{
        width: 90% !important;
         p{
            font-size: 1em !important;
             
        }
    }
}




// hides the pictures 
@media only screen and (max-height: 600px){
    .slide-ctr{
        display: none;
    }
}