//  when width is <= 1200px
@media only screen and (max-width: 1200px){

    // Home page (index.html)
    .btn-links{
        display: none;
       
    }

    .menu-ctr{
        visibility: visible;
    }

    .intro-ctr{
        font-size: 2vw;
    }

    .menu{
        width: 25%;
    }
    
    // Take a tour page from down here

    .welcome-ctr{

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 3em;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    
      
        .ifr{
            position: absolute;
            width: 100%;
            height: 100%;
        }   



        .msg-ctr{
            width: 62.5vw;

            .msg-box{

                .welcome-text{
                    width: 40vw;
                }

                // .start{
                //     align-self: flex-start;
                // }

                .end{
                    align-self: flex-end;
                }

    
                .tt, .ti{
                    height: 1em;
                }

            }                                    
        }       
    }   
}

@media only screen and (max-width: 1024px){
    //Home Page (index.html)
    .slide-ctr{
        display: none;
    }
    .empty{
        width: 100%;
        height: 70vh;
    }

    #bio-one,#bio-two{
        height: 34vh !important;
        width: 34vh !important;

    }

    .bio-greg,.bio-john{
        width: 80% !important;
         p{
             font-size: 1.2em !important;
             
         }
     }
}


// When width <= 980px 
@media only screen and (max-width: 900px){
    .gallery-ctr{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .gpic{
            width: 100%;
        }
      }

    .info-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }


    // Take a Tour


}
    
    



// When width <= 768px
@media only screen and (max-width: 768px){
    // Home page 
    .menu{
        width: 35%;
    }

    .catalogue-ctr{
        height: 84vw;
    }

     // Take a tour

  
    
    



     .options-ctr{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        
    }

    body .options-ctr a p{
        font-size: 1.3em;
    }

    .board-ctr{
        flex-direction: column;
        align-items: center;
    }

    .reverse{
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-ctr{
        width: 50vw !important;
        height: 50vw !important;

        p {
            font-size: 6.5vw !important;
        }
    }

    .rect-ctr{
        width: 80vw !important;
        height: 50vw !important;

        p {
            font-size: 3.5vw !important;
        }
    }
   



    // Who we are

    .bio-greg,.bio-john{
        height: 40vh !important;
        p{
            font-size: 0.5em !important;
        }
    }

    // Contact us

    .cnt-info{
        height: 35vh !important;
        width: 90vw !important;
    }
}

// When width <= 768px
@media only screen and (max-width: 768px){

    // Home
    // .intro-ctr{
    //     font-size: 5vw;
    // }


    .catalogue-ctr{
        height: 90vw;
    }

     // Who we are
    .pics-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-align:center ;
            -ms-flex-align:center ;
                align-items:center ;
        height: 90vh !important;
    }

    .bio-greg,.bio-john{
       width: 60% !important;
        p{
            font-size: 1.2em !important;
            color: $primary-color;
        }
    }
}

// When width <= 400px (changed to 480)

@media only screen and (max-width: 480px){

     // Who we are
    .bio-greg,.bio-john{
        width: 90% !important;
         p{
            font-size: 1em !important;
             
         }
     }

    
}

//1426 600
// hides the pictures 
@media only screen and (max-height: 600px){
    .slide-ctr{
        display: none;
    }
}